html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Actual styles here*/

.wrapper {
	padding: 20px;
}

h1, h2, h3, p, button, span {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, p {
	color: #4a4a4a;
}

.column-header, .column-subheader, .graph-column-header {
	color: #4a4a4a;
}

h3 {
	font-weight: 700;
}

p, .fa, span {
	font-size: 16px;
}

button .fa {
	margin-right:8px;
}

button:hover {
	cursor: pointer;
}

button.calendar:active, button.globe:active {
    -webkit-box-shadow: inset 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow: inset 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    box-shadow: inset 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
}

button.calendar, button.globe {
	width: 10%;
	padding: 15px;
	text-align: center;
	float: right;
	background: #72A438;
	color: #FFF;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
}	
button.globe {
	margin-left: 20px;
}

button {
	border: none;
  	outline: none;
  	border-radius: 4px;
}	

button.calendar, button.globe, .overall-dashboard-title {
	display: inline-block;
}

header.overall-dashboard-header {
	background: #FFF;
    padding: 25px;
    border-radius: 4px;
    overflow: auto;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    display: block;
    clear: both;
}

.overall-dashboard-title {
	line-height: 60px;
	font-size: 20px;
}

section.numerical-columns-section {
	overflow: auto;
	box-sizing: border-box;
	clear: both;
}

div.overall-numerical-column {
	width: 30%;
	text-align: center;
	margin: 10px 0;
	float: left;
    padding: 30px 20px 50px 20px;
	background: #FFF;
    border-radius: 4px;
    overflow: auto;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
}

div.overall-graph-column {
	display: block;
	clear: both;
	padding: 20px;
	background: #FFF;
    border-radius: 4px;
    overflow: auto;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.74);	
}

div.middle-column {
	margin-left: 32px;
	margin-right: 32px;
}

div.column-header h2 {
	margin-left: 15px;
}

div.column-header {
	border-bottom: 1px solid #4a4a4a;
width: 80%;
    text-align: center;
    margin: 0 auto;
}


div.column-header, div.column-subheader {
	font-size: 18px;
	clear: both;
	padding: 0 0 20px 0;
}

div.column-subheader {
	margin-top: 25px;
}

div.column-header span, div.column-header .fa {
	font-size: 19px;
}

div.column-header span{
	font-weight: 700;
}

div.numerical-result {
	margin-bottom: 30px;
}

div.numerical-result span {
	font-size: 24px;	
	font-weight: 700;
}

div.month-container {
	margin-top: 45px;
}

.left-comparison-container {
	float: left;
}

.right-comparison-container {
	float: right;
}

.comparison-container {
	margin: 0 auto;
	width: 40%;
	height: 18px;
	overflow: hidden;
}

div.graph-column-header{
	font-size: 24px;	
	font-weight: 700;
}




